body{
    background-image: url("/img/960x0.gif");
    animation-name: crar;
    animation-duration: 0.5s;
}
@keyframes crar {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
#user-img img{
    border-radius: 50%;
    border: solid #0b0b0b 1px;
}
#main{
    border-radius: 20px;
    position: absolute; 
    left: 0; 
    right: 0;
    top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
}
#user-img{
    text-align: center;
    padding-top: 5px;
}
#user-img > div{
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 30px;
    color: rgb(247, 244, 244);
}
i{
    color: rgb(247, 244, 244);
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 28px;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 10px;
}
.paragraph{
    text-align: center;
    color: rgb(247, 244, 244);
    font-size: 15px;
}
#footer{
    color: rgb(221, 219, 219);
    text-align: center;
    position: relative;
    top: 30%;
}
.font{
   font-family: sans-serif; 
}
.Nselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
#pessoal{
    text-align: center;
    font-size: 30px;
    
}
#pessoal i{
    padding-top: 10px;
}
#divis{
    background-color: rgb(247, 244, 244);
    width: 50vw;
    height: 1px;
    position: relative; 
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;

}